<!doctype html>
<html lang="en">

    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
            <link href="{{ url_for('static', filename='css/style.css') }}"  rel="stylesheet">


    </head>

    <body onload="loaded()" class="bodyProcessing">

        <div class="container">

                <h1 style="margin-top: 40%;font-family: 'Cairo', sans-serif; ">Preparing Your Result <div style="margin-left:5%" class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                            <div class="circle"></div>
                          </div><div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                  
                        <div class="spinner-layer spinner-red">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                            <div class="circle"></div>
                          </div><div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                  
                        <div class="spinner-layer spinner-yellow">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                            <div class="circle"></div>
                          </div><div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                  
                        <div class="spinner-layer spinner-green">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                            <div class="circle"></div>
                          </div><div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div></h1>

                  <div class="progress">
                        <div class="indeterminate"></div>
                    </div>

                    
            </div>     

	
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/processing.js') }}"></script>
        
        <script>
            function loaded()
            {
                process( '{{ seq }}', '{{family}}', '{{nClasses}}', '{{K}}' );
            }
        </script>

       
    </body>

</html>